@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-link: rgb(0, 85, 212);
  --font-mono: "SF Mono", Menlo, Monaco, "Courier New", monospace;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono);
  font-size: 13px;
}
